@model IEnumerable<ApiCro.Models.CaixaRotativo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Obra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoInsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDespesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDespesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nominal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpjNominal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfCnpjFornecedor)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Obs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Obra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoInsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDespesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDespesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nominal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpjNominal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCnpjFornecedor)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCaixaRotativo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCaixaRotativo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCaixaRotativo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
